body{
background-image: url(istockphoto-1616897621-640x640.jpg);
background-size: cover;
color: white;
}
.ACES{
    width: 33%;
}
.FIVEM{
    width: 33%;

}
.me{
    width: 20%;
}
.me2{
    display: flex; justify-content: center;
}

.aline{
    display: flex;
}